.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
  width: 100vw;
}

.app h1 {
  color: #fcf9f9;
}

.app p {
  color: #c7c3c3;
}

.message {
  color: #4caf50;
}

.error {
  color: #f44336;
}